/* *{ margin: 0;padding: 0;} */

/* header,nav,section,footer{display:block;overflow: hidden;} */ 

body{
font: 15/1.5 Arial, Helvetica, sans-serif;
background-color: #f4f4f4; 
margin: 0; 
padding: 0;

}


/* Global */

.container{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
	
}

.dark{
	
	padding: 15px;
	background-color: #35424a;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	
}

/* Header */
header {
	background:#35424a;
	color:#ffffff;
	padding-top: 30px;
	/* padding: 30px 0 30px 0; */
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
	width: 100%;
	
	transparent: status-bar;
	
}
header a{color: white;
text-decoration: none;
text-transform: uppercase;
font-size: 16px;
padding: 8px;
background: #2a2e39c9;
border-radius: 6px;
}

header #nav_area a{
	border: solid 1px #e8491d;
}



header#branding  a{color: white;
text-decoration: none;
text-transform: uppercase;
font-size: 16px;
border: none;
padding: 8px;
background: #2a2e39c9;
border-radius: 6px;
}



header #branding a{ 
background: none;
text-transform: inherit;
padding: inherit;
}


header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
	border: 1px;
	list-style: none;
	font-weight: bold;

}

header #branding{
	float: left;
}

header #branding h1 {
	margin:0 ;
}
header nav{
	float: right;
	margin-top: 10px;
}


header .highlight, header .current a {
	color: #f40000;
	font-weight: bold;
}

header a:hover{
	color: white;
	text-shadow: 1px;
	background-color: #f40000;
	/* font-weight: bold; */
	-webkit-transition: all 0.9s ease 0s;
     transition: all 0.9s ease 0s;
}

header .next a:hover{
	color: black;
	text-shadow: 1px;
	background-color: #f40000;
	/* font-weight: bold; */
	-webkit-transition: all 0.9s ease 0s;
     transition: all 0.9s ease 0s;
}



/* Newsletter */

#newsletter{
	padding: 15px;
	color: #ffffff;
	background: #35424a;
	
}

#newsletter h1 {
	float: left;
}
#newsletter form { 
	float: right;
	margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
    background-color: #1d2429;
    border: none;
    color: white;
    font-size: 14px;
}



.Submit_button{
	height: 38px;
	background: #e8491d;
	border: 0;
	padding:0 20px 0 20px;
	color: #ffffff;
	font-weight: bold;
	
}


/* SIDEBAR */


#sidebar{
	float: right;
	width: 30%;
	margin-top: 10px;
	
}

/* MAIN COL */
.page-title{
	text-align: center;
	margin: 0;
	padding: 10px;
	font-family: arial;
	color: #fb4b09;
	background-color: #0f0f0f;
}
#main-col {
	float: left;
	width: 65%;
	/* border: 1px solid black; */
	margin: 20px;
	text-align: justify;
	border-radius: 5px;
	padding: 3px;
}

.wwd{
	color: #f36547;
	font-family: tahoma;
}

/* Footer */


footer{
	padding: 20px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #e8491d;
	text-align: center;
    font-weight: bold;}
	

	
	
	
	footer a {
		text-decoration: none;
		text-transform: uppercase;
		color: blue;
	}
	

	
/************************Footer End**************************/




/* Media Queries*/

@media(max-width: 768px){
	
	header #branding, header nav, header nav li, #newsletter h1, #newsletter form{
		float: none;
		text-align: center;
		width: 100%;
		
	}
	header{
		padding-bottom: 20px;
	}
	
	#showcase h1{
		margin-top: 40px;
	}
	#newsletter .Submit_button{
		display: block;
		width: 100%;
		
	}
}





	
	
	
	
	
	

	/* For Services Page*/
	
	
	
	/* SERVICES */
	
	#services li{
		list-style: none;
		padding: 20px;
		border: #cccccc solid 1px;
		margin-bottom: 5px;
		background: #e6e6e6;
	}
	
	
	
	
	/* SIDEBAR */
	
	#sidebar .quote .input, textarea {
		width: 90%;
		padding: 5px;
		
		
		background-color: #141212;
		border: none;
		color: #fe0000;
		/*! font-size: inherit; */
		font-weight: bold;
	}
	
	#sidebar .quote lable{
		font-weight: bold;

	}
	
	#sidebar .quote textarea{
		background-color: #e9dbdb;
		color: black;
	}
	
	/* #sidebar input[type="text"]{
	padding: 4px;
    height: 25px;
    width: 250px;
    background-color: red;
    border: none;
    color: #fe0000;
    font-size: 14px;
}
	 */
	
	::-webkit-.input-placeholder, textarea placeholder{
		
		color:red;
		
	}
	
	-moz-.input-placeholder{
		
		color:red;
		
	}
	
	:-ms-.input-placeholder{
		
		color:red;
		
		
	}
	
	
	
	
	/* Media Queries*/

/* @media(max-width: 768px){
	
	header #branding, header nav, header nav li, #newsletter h1, #newsletter form, {
		float: none;
		text-align: center;
		width: 100%;
		
	}
	header{
		padding-bottom: 20px;
	}
	
	#showcase h1{
		margin-top: 40px;
	}
	#newsletter .Submit_button{
		display: block;
		width: 100%;
		
	}
}


	
	 */
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	